.title {
    font-family: Times New Roman, sans-serif;
}

body{
    background-color: #ff0000;
}
header{
    display: flex;
    justify-content:center ;
}

.Logo, .Menu{
    margin-right: 20px;
    display: inline-block;
    vertical-align:middle ;
    font-family: Verdana, sans-serif;
    
}
.Menu li{
    margin-right: 20px;
    display: inline-block;
    vertical-align:middle ;
    

}
.Menu a{
    text-decoration: none;
    color: #000;
    vertical-align:middle ;
    font-size: 20px;
}
.Logo h1{
    vertical-align:middle ;
    font-size: 35px;
}
.hi{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
} 

.footerr{
    margin-left: auto;
    margin-right: auto;
}

.pic{
    border: 3px ridge rgb(132, 177, 202);
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.pic1{
    width: 300px;
    height: 240px;
    padding-left: 10px;
    padding-right: 10px;
}

.Alltours{
    display: flex;
    justify-content:center ;}
.btn{
    padding: 10px;
    margin: 30px;
}

h2{
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.shortdesc{
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.detaileddesc{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
/* .p{
    text-align: center;
} */